@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Monoton&family=Open+Sans:wght@300&family=Rubik+Bubbles&display=swap');
/* font-family: 'Bungee Inline', cursive;
font-family: 'Monoton', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Bubbles', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-image: url(./images/31367.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
}

.circle0 {
  grid-area: circle0;
}

.circle1 {
  grid-area: circle1;
}

.circle2 {
  grid-area: circle2;
}

.circle3 {
  grid-area: circle3;
}

.circle4 {
  grid-area: circle4;
}

.circle5 {
  grid-area: circle5;
}

.circle6 {
  grid-area: circle6;
}

.circle7 {
  grid-area: circle7;
}

.header {
  padding-left: 5px;
  margin: 0;
  padding: 20px 0;
  font-family: 'Bungee Inline', "cursive";
  font-size: 2.8rem;
  text-align: center;
  -webkit-text-stroke: .2px #bed7dfdb;
  letter-spacing: .75rem;
  color: #1d168a;
  text-shadow: 1px 3px 5px #f0f0f0cc;
}

.circles {
  margin: auto;
  max-width: 500px;
  background: linear-gradient(90deg, rgba(27, 27, 27, 0.9), rgba(107, 107, 107, 0.9));
  padding-top: 10px;
  border-radius: 3rem;
  box-shadow: inset 0 2px 20px rgba(29, 29, 29, 0.461), 0 2px 20px rgb(19, 19, 19);
}

.circle-container {
  display: grid;
  margin: auto;
  padding: 1.2rem;
  max-width: 400px;
  justify-content: center;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 20px 10px;
  grid-template-areas: 
    "circle0 circle1 circle2 circle3"
    "circle4 circle5 circle6 circle7"
    
}

@media screen and (max-width:650px) {
  .circle-container {
    grid-template-columns: 100px 100px;
    grid-template-areas: 
    "circle0 circle2"
    "circle1 circle3"
    "circle4 circle6"
    "circle5 circle7";}
  .app {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .circles {
    max-width: 350px;
  }
}

@media screen and (min-width:651px) {
  .app {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}




.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle0 {
  margin: auto;
  height: 80px;
  width: 80px;
  background-color: #a2a2a2;
  background-image: linear-gradient(#f7f7f7, #888787);
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
}


@media screen and (max-width: 650px) {.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle0 {height: 70px; width: 70px;} .button {font-size: .6rem;} .header {font-size: 2.8rem; padding: 35px 0;}}
@media screen and (max-width: 400px) {.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle0 {height: 50px; width: 50px;} .button {font-size: .6rem;} .header {font-size: 1.95rem; padding: 35px 0;} .circle-container {grid-template-columns: 80px 80px;}}


.button-container {
  display: grid;
  margin: 0 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (max-width: 650px) {
  .button-container {
    grid-template-columns: 1fr 1fr;
  }
}


.button {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #747474);
  color: rgb(76, 76, 76);
  margin: auto;
  width: 80%;
  padding: 8px;
  border-color: rgb(188, 188, 188);
  border-radius: 25px;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width:390px) {.button {width: 85%}}
@media screen and (min-width:391px) {.button {width: 60%}}
@media screen and (min-width:700px) {.button {width: 80%}}

.button:hover {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #575757);
  transition: all ease-in-out 0.3s;
}

.button:active {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #a3a3a3);
  transition: all ease-in-out 0.2s;
}

